.required-override input[type="text"]:focus {
    border-color: red;
}


.input-append .btn.dropdown-toggle {
    float: none;
}

table {
    margin:0px !important;
}

/* this works and colours the headers */
.table-condensed thead tr th{
    background-color: lightblue ;
    font-size: 0.8em !important;
    height: 15px;
}

/* this doesnt do a thing on any <thead class="thead-blue" - no idea why  */
.thead-blue {
    background-color: cornflowerblue !important;
}

.tbody-condensed {
    font-size: 0.7em !important;
}

/* added to set the width of button that sits around icon in rendered field   */
.btn-icon-fixed-width {
    width: 60px !important;
}

/* enable auto scroll bars for cards etc */
.scroll {
    max-height: 400em;
    overflow-y: auto;
}

div[aria-labelledby="references"] table {
    width: 500px;
}